<router-outlet></router-outlet>
<ax-form-group size="md">
  <ax-label>Name</ax-label>
  <ax-button icon="fas fa-check" start>Start</ax-button>
  <ax-text-box [disabled]="true"></ax-text-box>
  <ax-button icon="fas fa-check" [disabled]="true">End</ax-button>
</ax-form-group>
<br>
<br>
<br>
<ax-drop-down size="md">
</ax-drop-down>
<br>
<br>
<br>
<ax-select-box size="md" textField="title" valueField="id" groupField="category" mode="multiple"
  (selectedItemsChange)="handleSelectChange($event)">
  <ax-data-source [provideData]="handleDataReceived">
  </ax-data-source>
</ax-select-box>
<br>
<br>
<ax-search-box></ax-search-box>
<ax-form-group size="md">
  <ax-label>Name</ax-label>
  <ax-drop-down>
    <ax-button icon="fas fa-plus"></ax-button>
  </ax-drop-down>
  <ax-button icon="fas fa-plus"></ax-button>
</ax-form-group>
<br><br>
<ax-check-box label="hi " size="xl" disabled="true"></ax-check-box>
<br><br>
<ax-check-box label="hi " size="xxl"></ax-check-box>
<br><br>
<ax-check-box label="hi " size="lg"></ax-check-box>
<br><br>
<ax-check-box></ax-check-box>
