<router-outlet></router-outlet>
<ax-form-group size="md">
  <ax-label>Name</ax-label>
  <ax-button icon="fas fa-check" start>Start</ax-button>
  <ax-text-box [disabled]="true"></ax-text-box>
  <ax-button icon="fas fa-check" [disabled]="true">End</ax-button>
</ax-form-group>
<br>
<br>
<br>
<ax-drop-down size="md">
</ax-drop-down>
<br>
<br>
<br>
<ax-select-box size="md" textField="title" valueField="id" groupField="category" mode="multiple"
  (selectedItemsChange)="handleSelectChange($event)" [selectedValues]="selectedValues">
  <ax-data-source [provideData]="handleDataReceived">
  </ax-data-source>
</ax-select-box>
<br>
<br>
<ax-search-box></ax-search-box>
<ax-form-group size="md">
  <ax-label>Name</ax-label>
  <ax-drop-down>
    <ax-button icon="fas fa-plus"></ax-button>
  </ax-drop-down>
  <ax-button icon="fas fa-plus"></ax-button>
</ax-form-group>
<br><br>
<ax-radio-button label="Disabled" size="md" disabled="true"></ax-radio-button>
<br><br>
<ax-radio-button label="Readonly" size="md" readonly="true"></ax-radio-button>
<br><br>
<ax-radio-button label="Radio Button XXL Size" size="xxl"></ax-radio-button>
<br><br>
<ax-radio-button label="Radio Button XL Size" size="xl"></ax-radio-button>
<br><br>
<ax-radio-button label="Radio Button MD Size" size="md"></ax-radio-button>
<br><br>
<ax-radio-button label="Radio Button SM Size" size="sm"></ax-radio-button>
<br><br>
<ax-radio-button label="Radio Button XS Size" size="xs"></ax-radio-button>
<br><br>
<ax-radio-button label="Radio Button XXS Size" size="xxs"></ax-radio-button>
<br><br>
<ax-check-box label="Disabled" size="md" disabled="true"></ax-check-box>
<br><br>
<ax-check-box label="Readonly" size="md" readonly="true"></ax-check-box>
<br><br>
<ax-check-box label="Checkbox XXL Size" size="xxl"></ax-check-box>
<br><br>
<ax-check-box label="Checkbox XL Size" size="xl"></ax-check-box>
<br><br>
<ax-check-box label="Checkbox LG Size" size="lg" ></ax-check-box>
<br><br>
<ax-check-box label="Checkbox MD Size" size="md"></ax-check-box>
<br><br>
<ax-check-box label="Checkbox SM Size" size="sm"></ax-check-box>
<br><br>
<ax-check-box label="Checkbox XS Size" size="xs"></ax-check-box>
<br><br>
<ax-check-box label="Checkbox XXS Size" size="xxs"></ax-check-box>
